
<%= javascript_tag do -%>

  $(document).ready(function() {
    $('#<%= dom_id(taxon, :product_list) -%>').click(function(event){
    
    // make a POST call send the Product ID from the select drop down list replace the content
    
    alert($('#<%= dom_id(taxon, :select_add_product) -%>').val() );

    // :method => :post,
    //$.post("<%= select_admin_taxon_products_taxons_url(taxon) -%>", function(data) {
      //  $("#results").html( "#{dom_id(taxon, :product_list)} -%>");
    //});
    });
  });

<% end  %>

<div id="results"></div>

<ul class="actions">
  <li id=<%= "#{dom_id(taxon, :add_product)}" -%>>
    <%  available_products  = @all_available_products - taxon.products %>
    <%= select_tag dom_id(taxon, :select_add_product), options_for_select(available_products.collect{ |p| [p.name, p.id] }.insert(0, ''), 0)%>

    </br>
    <%= link_to icon('add') + ' ' + t("add_product"), "#", :remote=>true, :id => dom_id(taxon, :product_list) %>
  </li>
</ul>


